:root {
    --slate-400: oklch(55.4% 0.046 257.417);
    --stone-200: oklch(92.3% 0.003 48.717);
    --stone-300: oklch(86.9% 0.005 56.366);
    --stone-400: oklch(70.9% 0.01 56.259);
    --stone-500: oklch(55.3% 0.013 58.071);
    --stone-600: oklch(44.4% 0.011 73.639);
    --stone-700: oklch(37.4% 0.01 67.558);
    --stone-800: oklch(26.8% 0.007 34.298);
    --red-300: oklch(80.8% 0.114 19.571);
    --red-500: oklch(63.7% 0.237 25.331);
    --red-600: oklch(57.7% 0.245 27.325);
    --blue-600: oklch(54.6% 0.245 262.881);
    --amber-500: oklch(76.9% 0.188 70.08);
    --modal-bg: rgba(0,0,0,0.85);
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    & main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

#sort {
    border: 2px solid var(--stone-400);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--stone-800);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 350px;

    &:disabled {
        opacity: 0.5
    }

    & label {
        color: white;
    }

    & select {
        background-color: var(--stone-200);
        border-radius: 0.5rem;
        padding: 0.5rem;
        text-align: center;
    }

    & button {
        background-color: var(--stone-400);

        &:disabled {
            opacity: 0.5;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid transparent;
    margin: 1rem;
    border-radius: 2rem;
    background-color: var(--stone-300);
    box-shadow: 0 2px 3px var(--slate-400);
    position: relative;
    max-width: 350px;

    & .card-img {
        background-color: var(--stone-200);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        box-shadow: 0 1px 3px var(--stone-200);
        width: 100%;
        height: 100%;
    }

    & .title {
        font-weight: 500;
        overflow: auto;
    }

    & .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 1rem;
        margin-top: 1rem;
    }

    & .content > *,
    .voteBtns > * {
        color: var(--stone-700);
    }

    .voteBtns {
        display: flex;
        gap: 0.5rem;
        max-width: fit-content;
        border: 1px solid transparent;
        border-radius: 1rem;
        align-items: center;
        background-color: var(--stone-400);

        & .vote-btn {
            background-color: transparent;
        }
    }

    & .cta {
        background-color: var(--stone-700);
        box-shadow: 0 3px 2px 0 var(--stone-800);
        color: white;
        font-size: 1.2rem;
        flex: 1;
    }

    & .cta:hover {
        border-color: var(--stone-600);
        box-shadow: 0 0 0 0;
        filter: brightness(1.2);
    }

    .action-btns {
        display: flex;
        gap: 0.5rem;

        & .open-modal {
            box-shadow: 0 2px 1px 0 var(--stone-600);
            background-color: var(--stone-400);
        }

        & .open-modal:hover {
            border-color: var(--stone-700);
            box-shadow: 0 0 0 0;
        }
    }
}

button,
.button {
    border: 1px solid transparent;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    color: white;

    &:hover,
    &:hover {
        cursor: pointer
    }
}

.fa-caret-up,
.fa-caret-down,
.fa-pen {
    color: white;
    transition: 0.3s;
}

.fa-caret-up:hover {
    color: var(--red-600);
}

.fa-caret-down:hover {
    color: var(--blue-600);
}

.vote-heading {
    color: white;
    font-weight: bold;
}

dialog[open] {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    border: none;
    display: flex;
    flex-direction: column;
    background-color: var(--modal-bg);
    justify-content: center;
    opacity: 1;
    transition: 0.3s;
}

@starting-style {
    dialog[open] {
        opacity: 0;
    }
}

.edit-content {
    background-color: var(--stone-700);
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 var(--stone-500);

    .form-header {
        display: flex;
        justify-content: space-between;
        background-color: var(--stone-800);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        align-items: center;

        & .reset-data {
            height: fit-content;
            margin-right: 1rem;
            background-color: var(--red-500);
            border-width: 2px;
            transition: 0.3s;

            &:hover {
                background-color: var(--red-500);
                border-color: var(--red-300);
                padding-right: 1rem;
                padding-left: 1rem;
                letter-spacing: 2px;
            }
        }
    }

    .form-btns {
        margin: 1rem;
        display: flex;
        gap: 0.5rem;

        & > * {
            flex: 1;
            color: white;
        }

        .save-changes {
            background-color: var(--stone-400);
            box-shadow: 0 1px 3px 0 var(--stone-800);
            font-size: 1rem;

            &:hover {
                box-shadow: 0 0 0 0;
                border-color: 1px solid var(--stone-800);
                filter: brightness(1.1);
            }
        }

        .cancel-changes {
            background-color: var(--stone-800);
            box-shadow: 0 1px 3px 0 var(--stone-800);
            font-size: 1rem;

            &:hover {
                box-shadow: 0 0 0 0;
                border-color: 1px solid var(--stone-800);
                filter: brightness(1.1);
            }
        }
    }

    & label {
        font-weight: bold;
        padding: 0.5rem 1rem;
        color: white;
    }

    & .modal-title {
        font-weight: bold;
        color: white;
        padding: 1rem;
        border: 1px solid transparent;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: var(--stone-800);
    }

    & input {
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0 1rem;
        color: white;
        background-color: var(--stone-800);
        border: 1px solid grey;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        border-radius: 0.3rem;

        &:focus {
            border: 1px solid var(--amber-500);
        }
    }
}