{# Card Component #}

{% include 'header.html.twig' %}
<script type="module" src="src/scripts/card.js" defer></script>
<div class="card">
    <img class="card-img" src="" alt="">
    <h1 class="title">Title</h1>
    <p class="description">Description</p>
    <div class="vote-btn">Upvote</div>
    <div class="vote-btn">Downvote</div>
    {#  Button should open up modal  #}
    <button type="button">Edit</button>
</div>