<form class="sort" action="/">
    <label for="sort-option">Sort by Votes</label>
    <select id="sort-option" name="sort-option">
        <option value="ascending">Low to High</option>
        <option value="descending">High to Low</option>
    </select>
    <button type="submit">Sort</button>
</form>